$background-image: '../img/notre_dame_usc_2019.jpg';
// $background-color-dark: #82cdffd9;
// $background-color-light: #b8dffdf2;
$background-color-light: #099432d9;
$background-color-dark: #48e0bff2;
$color-win-loss-tie: white;
$color-result-set-rows: black;
$color-btn-background: gray;
$color-btn-text: white;

$grid-width: 114rem; // 1140px is standard
$gutter-vertical: 4rem;
$gutter-horizontal: 1rem;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 0.5rem 4rem rgba(0, 0, 0, 0.2);

$bp-large: 62.5em; // 1000px / 16
$bp-medium: 33em; // 540px / 16
$bp-small: 23em; // 375 / 16
