.results-table {
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }

  .game-list {
    color: $color-result-set-rows; // adsf
    position: absolute;
    top: 1.4rem;
    left: 50%;
    transform: translate(-50%);

    table {
      text-align: left;
      width: 85vw;
    }
  }
}
