[class^='filters-date-'] {
  display: inline-block;
  margin: 0 auto;
}

.filters-date {
  text-align: center;
  // margin: 1rem;

  select {
    margin: 2rem 1rem 1rem 0.15rem;
  }
}

.filters-site,
.filters-vacated,
.filters-result,
.filters-nd-coach,
.filters-opponent,
.filters-opponent-coach,
.filters-won-by {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
