.results-table {
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }

  &__game-list {
    color: $color-result-set-rows; // adsf
    position: absolute;
    top: 1.4rem;
    left: 50%;
    transform: translate(-50%);

    table {
      text-align: left;
      width: 85vw;
    }
  }

  &__header {
    &:hover {
      cursor: pointer;
    }
  }

  &__date {
  }

  &__result {
  }

  &__site {
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__nd-coach {
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__opp-coach {
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__nd-score {
  }

  &__opp-score {
  }

  &__opponent {
  }
}
