/* .App {
  font-family: sans-serif;
  text-align: center;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
  padding: 3rem;
  line-height: 1.7;
  height: 95vh;
  box-sizing: border-box;
}

.filterable-game-table {
  /* background-image: linear-gradient(to right bottom, #aebcdfd1, #81cafad1),
    url(../img/notre_dame_usc_2019.jpg); */
  background-image: linear-gradient(
      to right bottom,
      rgba(184, 223, 253, 0.95) 80%,
      rgba(130, 205, 255, 0.85)
    ),
    url(../img/notre_dame_usc_2019.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.4rem;
  border: solid;
  border-radius: 3rem;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}

.search-bar-header h1 {
  text-align: center;
}

.search-bar {
  /* background-image: url(../img/notre_dame_usc_2019.jpg); */
  /* background-image: linear-gradient(to right bottom, #7ed56fd1, #28b485d1),
    url(../img/notre_dame_usc_2019.jpg); */
}

.results-table {
  position: relative;
}

.results .fieldset {
  text-align: center;
}

.results .fieldset legend {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
}

.results .fieldset span {
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.results-table .game-list {
  color: black;
  position: absolute;
  top: 1.4rem;
  left: 50%;
  transform: translate(-50%);
}

.game-list table {
  text-align: left;
  width: 85vw;
}

/* .game-list table .header {
  color: white;
  text-align: left;
} */

.start-over {
  text-align: center;
  padding-top: 1.5rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.1s;
}

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-gray {
  background-color: gray;
  color: white;
}

.game-list-2 .column {
  float: left;
  width: 16.67%;
}
