.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-weight: 400;
  color: black;
  padding: 30px;
  line-height: 1.5;
  height: 95vh;
}

.results-table {
  position: relative;
}

.results .fieldset {
  text-align: center;
}

.results .fieldset legend {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
}

.results .fieldset span {
  color: green;
  text-align: center;
  padding: 15px;
}

.results-table .game-list {
  color: blue;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}

.game-list table {
  text-align: left;
  width: 85vw;
}

.game-list table .header {
  color: red;
  text-align: left;
}

.start-over {
  text-align: center;
  padding-top: 15px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.1s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-gray {
  background-color: gray;
  color: white;
}
