/* .App {
  font-family: sans-serif;
  text-align: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  padding: 30px;
  line-height: 1.7;
  height: 95vh;
}

.filterable-game-table {
  background-image: linear-gradient(to right bottom, #aebcdfd1, #81cafad1),
    url(../img/notre_dame_usc_2019.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px;
  border: solid;
  border-radius: 30px;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}

.search-bar-header h1 {
  text-align: center;
}

.search-bar {
  /* background-image: url(../img/notre_dame_usc_2019.jpg); */
  /* background-image: linear-gradient(to right bottom, #7ed56fd1, #28b485d1),
    url(../img/notre_dame_usc_2019.jpg); */
}

.results-table {
  position: relative;
}

.results .fieldset {
  text-align: center;
}

.results .fieldset legend {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
}

.results .fieldset span {
  color: white;
  text-align: center;
  padding: 15px;
}

.results-table .game-list {
  color: black;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
}

.game-list table {
  text-align: left;
  width: 85vw;
}

/* .game-list table .header {
  color: white;
  text-align: left;
} */

.start-over {
  text-align: center;
  padding-top: 15px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.1s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-gray {
  background-color: gray;
  color: white;
}

.game-list-2 .column {
  float: left;
  width: 16.67%;
}
